Order Allow,Deny
Deny from all

# Disable directory browsing
Options -Indexes

# Deny access to .htaccess
<Files .htaccess>
  Deny from all
</Files>

<FilesMatch "\.(jpg|gif|png|php|html|css|js|kml)$">
  Allow from all
</FilesMatch>
